* text=auto

# Documentation
*.md            text diff=markdown
LICENSE         text
.gitignore      text
.editorconfig   text
.gitattributes  text

# Aseprite
*.aseprite  binary
*.ase       binary

# Krita
*.kra   binary

## Image formats
*.gif   binary
*.jpg   binary
*.jpeg  binary
*.png   binary
*.bmp   binary
*.svg   binary
